* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #111;
  color: #fff;
}

/* CAPA */
#capa {
  height: 100vh;
  background: url("quadro1.jpg") center / cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.capa-conteudo {
  background: rgba(0,0,0,0.6);
  padding: 40px;
}

#entrar {
  margin-top: 20px;
  padding: 12px 30px;
  font-size: 1.1rem;
  cursor: pointer;
}

/* SITE */
.hidden {
  display: none;
}

/* MENU (SEPARADORES) */
.tabs {
  display: flex;
  justify-content: center;
  background: #000;
}

.tab {
  background: none;
  border: none;
  color: #aaa;
  padding: 15px 30px;
  cursor: pointer;
  font-size: 1.1rem;
}

.tab.active {
  color: #fff;
  border-bottom: 3px solid #fff;
}

/* CONTEÚDO */
.tab-content {
  display: none;
  padding: 40px 20px;
  text-align: center;
}

.tab-content.active {
  display: block;
}

/* BOTÃO VOLTAR */
.voltar-menu {
  background: none;
  border: 1px solid #444;
  color: #ccc;
  padding: 8px 16px;
  cursor: pointer;
  margin-bottom: 20px;
}

/* GALERIA */
.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.galeria img {
  width: 100%;
  border: 2px solid #333;
  }
