.modal-box.lateral {
  max-width: 1100px;
}

.modal-conteudo {
  display: flex;
  gap: 25px;
  align-items: flex-start;
}

.modal-imagem {
  flex: 1;
}

.modal-imagem img {
  width: 100%;
  max-height: 75vh;
  object-fit: contain;
}

.modal-info {
  flex: 1;
  text-align: left;
}

.modal-info h4 {
  margin-top: 15px;
  margin-bottom: 5px;
}
